[Unit]
Description=mount the metal fstab
Before=containerd.service etcd.service kubelet.service

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c '(while ! /sbin/blkid | grep -q K8S; do echo "metalfs: waiting for K8S volume..."; sleep 2; done);'
ExecCondition=/bin/bash -c "[ -f /etc/fstab.metal ]"
ExecStart=/usr/bin/mount -a -T /etc/fstab.metal
RemainAfterExit=false
StandardOutput=journal

[Install]
WantedBy=multi-user.target
