# Necessary for the IP, pit, and pit.nmn to not be proxied.
<VirtualHost *:80>
  ServerName {{ server_name }}
</VirtualHost>

# Necessary for packages to proxy to nexus.
<VirtualHost *:80>
  ProxyPreserveHost On
  ProxyRequests Off
  AllowEncodedSlashes NoDecode
  ProxyTimeout 300
  ServerName packages
  ServerAlias packages
  ProxyPass / http://localhost:8081/ nocanon
  ProxyPassReverse / http://localhost:8081/
</VirtualHost>

# Necessary for packages.mtl to proxy to nexus.
<VirtualHost *:80>
  ProxyPreserveHost On
  ProxyRequests Off
  AllowEncodedSlashes NoDecode
  ProxyTimeout 300
  ServerName packages.mtl
  ServerAlias packages.mtl
  ProxyPass / http://localhost:8081/ nocanon
  ProxyPassReverse / http://localhost:8081/
</VirtualHost>
