#
# MIT License
#
# (C) Copyright 2023 Hewlett Packard Enterprise Development LP
#
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
# OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
# ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#

# Allow access to all git sub-paths.
<LocationMatch "^/git/.*">
    <IfModule !mod_access_compat.c>
        Require all granted
    </IfModule>
    <IfModule mod_access_compat.c>
        Order allow,deny
        Allow from all
    </IfModule>
</LocationMatch>

# Allow access to all grafana sub-paths.
<LocationMatch "^/grafana/.*">
    <IfModule !mod_access_compat.c>
        Require all granted
    </IfModule>
    <IfModule mod_access_compat.c>
        Order allow,deny
        Allow from all
    </IfModule>
</LocationMatch>

# Allow access to all prometheus sub-paths.
<LocationMatch "^/prometheus/.*">
    <IfModule !mod_access_compat.c>
        Require all granted
    </IfModule>
    <IfModule mod_access_compat.c>
        Order allow,deny
        Allow from all
    </IfModule>
</LocationMatch>


# Allow access to all nexus sub-paths.
<LocationMatch "^/nexus/.*">
    <IfModule !mod_access_compat.c>
        Require all granted
    </IfModule>
    <IfModule mod_access_compat.c>
        Order allow,deny
        Allow from all
    </IfModule>
</LocationMatch>

<VirtualHost *:80>
    ProxyPreserveHost On
    AllowEncodedSlashes NoDecode
    ProxyRequests Off
    ServerName fawkes
    RewriteEngine On

    # https://docs.gitea.com/administration/reverse-proxies#apache-httpd-with-a-sub-path
    RewriteRule "^/git$" "/git/" [R]
    <Location "/git/">
        ProxyPass http://localhost:{{ port_gitea_http }}/ nocanon
        ProxyPassReverse http://localhost:{{ port_gitea_http }}/
    </Location>

    # https://community.grafana.com/t/reverse-proxy-documentation-for-apache/25122
    RewriteRule "^/grafana$" "/grafana/" [R]
    <Location "/grafana/">
        ProxyPass http://localhost:{{ port_grafana }}/
        ProxyPassReverse http://localhost:{{ port_grafana }}/
    </Location>

    RewriteRule "^/prometheus$" "/prometheus/" [R]
    <Location "/prometheus/">
        ProxyPass http://localhost:{{ port_prometheus }}/
        ProxyPassReverse http://localhost:{{ port_prometheus }}/
    </Location>

    # https://help.sonatype.com/repomanager3/planning-your-implementation/run-behind-a-reverse-proxy#RunBehindaReverseProxy-Apachehttpd.1
    RewriteRule "^/nexus$" "/nexus/" [R]
    <Location "/nexus/">
        ProxyPass http://localhost:{{ port_nexus }}/nexus/
        ProxyPassReverse http://localhost:{{ port_nexus }}/nexus/
    </Location>
</VirtualHost>

# Necessary for http://packages/ to proxy to nexus.
<VirtualHost *:80>
    ProxyPreserveHost On
    ProxyRequests Off
    AllowEncodedSlashes NoDecode
    ProxyTimeout 300
    ServerName packages
    ServerAlias packages
    RewriteEngine On
    RewriteCond expr "! %{REQUEST_URI} =~ m#^/nexus/#"
    RewriteRule "^/(.*)$" "/nexus/$1" [R=308]
    <Location "/nexus/">
        ProxyPass http://localhost:8081/nexus/ nocanon
        ProxyPassReverse http://localhost:8081/nexus/
    </Location>
</VirtualHost>

# Necessary for http://packages.mtl/ to proxy to nexus.
<VirtualHost *:80>
    ProxyPreserveHost On
    ProxyRequests Off
    AllowEncodedSlashes NoDecode
    ProxyTimeout 300
    ServerName packages.mtl
    ServerAlias packages.mtl
    RewriteEngine On
    RewriteCond expr "! %{REQUEST_URI} =~ m#^/nexus/#"
    RewriteRule "^/(.*)" "/nexus/$1" [R=308]
    <Location "/nexus/">
        ProxyPass http://localhost:8081/nexus/ nocanon
        ProxyPassReverse http://localhost:8081/nexus/
    </Location>
</VirtualHost>

# Necessary for http://packages.nmn/ to proxy to nexus.
<VirtualHost *:80>
    ProxyPreserveHost On
    ProxyRequests Off
    AllowEncodedSlashes NoDecode
    ProxyTimeout 300
    ServerName packages.nmn
    ServerAlias packages.nmn
    RewriteEngine On
    RewriteCond expr "! %{REQUEST_URI} =~ m#^/nexus/#"
    RewriteRule "^/(.*)$" "/nexus/$1" [R=308]
    <Location "/nexus/">
        ProxyPass http://localhost:8081/nexus/ nocanon
        ProxyPassReverse http://localhost:8081/nexus/
    </Location>
</VirtualHost>
