#
# MIT License
#
# (C) Copyright 2023 Hewlett Packard Enterprise Development LP
#
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
# OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
# ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
[Unit]
Description=SSH Import ID
Documentation=https://manpages.ubuntu.com/manpages/xenial/man1/ssh-import-id.1.html
Requires=network-online.target
After=network-online.target

[Service]
ExecCondition=/bin/bash -c '[ ! -f /etc/ssh/ssh_import_id.disabled ]'
Environment=URL=http://{{ server_name }}/git/api/v1/repos/root/ssh-public-keys/raw/ssh-public-keys.json
Environment=KEYS_FILE=/root/.ssh/authorized_keys
ExecStartPre=/bin/bash -c 'install -d -m 700 /root/.ssh'
ExecStart=/bin/bash -c "set -o pipefail; curl -f -sX 'GET' ${URL} -H 'accept: application/json' | jq -r '.ssh_authorized_keys[]' >> ${KEYS_FILE}"
ExecStartPost=/bin/bash -c 'touch /etc/ssh/ssh_import_id.disabled'
Restart=on-failure
KillMode=control-group
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
