# MTL:
{% set server = ansible_facts[interface_mtl].ipv4.address %}
{% set network = '%s/%s' | format(ansible_facts[interface_mtl].ipv4.network, ansible_facts[interface_mtl].ipv4.prefix) %}
server=/mtl/
address=/mtl/
domain=mtl,{{ network | ansible.utils.ipaddr('1') | ansible.utils.ipv4('address') }},{{ network | ansible.utils.ipaddr('-1') | ansible.utils.ipv4('address') }},local
interface-name={{ server_name }}.mtl,{{ interface_mtl }}
dhcp-option=interface:{{ interface_mtl }},option:domain-search,mtl
interface={{ interface_mtl }}
dhcp-option=interface:{{ interface_mtl }},option:dns-server,{{ server }}
dhcp-option=interface:{{ interface_mtl }},option:ntp-server,{{ server }}
dhcp-option=interface:{{ interface_mtl }},option:router,{{ network | ansible.utils.ipaddr('1') | ansible.utils.ipv4('address') }}
dhcp-range=interface:{{ interface_mtl }},{{ network | ansible.utils.ipaddr(dhcp.mtl.range.min) | ansible.utils.ipv4('address') }},{{ network | ansible.utils.ipaddr(dhcp.mtl.range.max) | ansible.utils.ipv4('address') }},{{ dhcp.mtl.ttl }}
