conntrack
conf-dir=/etc/dnsmasq.d
user=dnsmasq
group=tftp
# These prevent packets with malformed domain names
# and packets with private IP addresses from leaving our scoped network.
domain-needed
bogus-priv
# Never serve external networks:
except-interface={{ interface_ext }}
# DHCP:
domain=local
dhcp-fqdn
dhcp-client-update
dhcp-sequential-ip
dhcp-authoritative
enable-ra
dhcp-range=::,static
# PXE/IPv4 Booting:
enable-tftp
tftp-root={{ web_root }}/boot
tftp-secure
dhcp-vendorclass=efi-x86_64-sb,PXEClient:Arch:00007 # Less commonly used x86_64
dhcp-vendorclass=efi-x86_64-sb,PXEClient:Arch:00009 # Commonly used x86_64
dhcp-vendorclass=efi-arm64-sb,PXEClient:Arch:0000b
# TFTPBOOT PATH:
dhcp-boot=tag:efi-x86_64-sb,ipxe.x86_64.efi,{{ server_name }}
dhcp-boot=tag:efi-arm64-sb,ipxe.arm64.efi,{{ server_name }}
# DNS:
# Use lo interface, OS needs to have set NETCONFIG_DNS_FORWARDER="dnsmasq" (/etc/sysconfig/network/config)
interface=lo
address=/local,{% for key in dhcp.keys() %}{{ key }}{% if not loop.last %},{% endif %}{% endfor %}/127.0.0.1
server=/local,{% for key in dhcp.keys() %}{{ key }}{% if not loop.last %},{% endif %}{% endfor %}/127.0.0.1
no-resolv
no-poll
no-hosts
dnssec
bind-dynamic
strict-order
# Disable internal/external labs from leaking if queries are fired off during development.
no-negcache
log-queries
log-dhcp
log-async
