#
# MIT License
#
# (C) Copyright 2023 Hewlett Packard Enterprise Development LP
#
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
# OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
# ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#

# PXE/HTTPv4 Booting:
dhcp-vendorclass=efi-x86_64-sb-http,HTTPClient:Arch:00010 # Less commonly used x86_64
dhcp-vendorclass=efi-x86_64-sb-http,HTTPClient:Arch:00016 # Commonly used x86_64
dhcp-vendorclass=efi-arm64-sb-http,HTTPClient:Arch:00013
dhcp-option-force=tag:efi-x86_64-sb-http,60,HTTPClient
dhcp-option-force=tag:efi-arm64-sb-http,60,HTTPClient

dhcp-boot=tag:efi-arm64-sb-http,"http://{{ server_name }}/boot/bootaa64.efi"
dhcp-boot=tag:efi-x86_64-sb-http,"http://{{ server_name }}/boot/bootx64.efi"

interface-name={{ server_name }},{{ interface_mtl }}
interface-name=packages,{{ interface_mtl }}
interface-name=registry,{{ interface_mtl }}
